a {
	/* color: #CC3300; UW color 1 */
	/* color: #343078; UW color 2 */
	/* text-decoration: none; */
	color: #8C1515;
}

a:hover {
	background-color: #FFFF99;
	text-decoration: underline;
}

.aside {
	color: #777;
	font-size: smaller;
    margin-left: 50%;
	max-width: 50%;
	text-align: right;
}

body {
	font-family: Garamond, Times New Roman, Times, serif;
	font-size: 13pt;
}

body > .mainarea {
	margin: auto;
	max-width: 55em;
}

.caption,
figcaption,
.figcaption {
	/* font-size: smaller; */
	font-style: italic;
	text-align: center;
}

.comment {
	color: #007700;
}

.copyright {
	font-style: italic;
	margin-bottom: 1em;
	margin-top: 2em;
	text-align: center;
}

.credits {
	font-style: italic;
	margin-top: 0.25em;
	text-align: center;
}

dd {
	margin-bottom: 2.5em;
}

dd, dt {
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

.disabled,
.disabled a {
	color: #777 !important;
}

.documentoutline {
	font-size: smaller;
	margin-bottom: 2em;
	text-align: center;
}

.documentoutline li {
	display: inline;
	margin-left: .25em;
	margin-right: .25em;
	padding: 0.3em;
}

.extrafeatureslist li,
.spacedlist li {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

figure, .figure {
	text-align: center;
}

figure img, .figure img {
	border: 1px dotted gray;
	max-width: 95%;
}

.filename {
	color: #220066;
	font-weight: bold;
}

.filewithlinenumbers {
	margin-auto;
	text-align: center;
}

.filewithlinenumbers pre,
.multiplecodesamples pre,
.multiplecodesamples > div,
.multipleinputfiles div.inputfilearea,
.multipleinputfiles pre {
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.highlight,
pre ins {
	background-color: #ffff55;
	color: #000088;
	font-weight: bold;
	text-decoration: none;
}

.multipleinputfiles {
	text-align: center;
}

.multipleinputfiles div.inputfilearea {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.filewithlinenumbers pre.linenumbers {
	color: #888;
	font-style: italic;
	padding-top: 0.5em;
	text-align: right;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Calibri, Helvetica, Arial, sans-serif;
	font-weight: bold;
}

h1 {
	margin-bottom: 0.25em;
	text-align: center;
}

h2 {
	margin-top: 1.5em;
	margin-bottom: 0.25em;
}

h3 {
	margin-top: 1em;
	margin-bottom: 0.25em;
}

h3 + p {
	margin-top: 0.25em;
}

img.icon {
	height: 16px;
	width: 16px;
	vertical-align: middle;
}

.largefilebox {
	display: inline-block;
	margin-right: 1em;
	text-align: center;
	vertical-align: top;
}

.largefilebox ul {
	list-style-type: none;
	margin-bottom: 0.2em;
	margin-top: 0.2em;
	padding-left: 0.1em;
	text-align: left;
}

.largefileboxrow {
	text-align: center;
	vertical-align: top;
}

.largefileboxwithdescription {
	margin-bottom: 1em;
	overflow: hidden;
}

.largefileboxwithdescription > div {
	display: inline-block;
	max-width: 75%;
	min-width: 5em;
	vertical-align: top;
}

.largefileboxwithdescription > div > p:first-child {
	margin-top: 0;
}

.linebordertable,
.methodtable {
	border: 2px solid black;
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 1em;
	margin-top: 1em;
}

.methodtable {
	width: 100%;
}

.linebordertable code,
.linebordertable th,
.methodtable code,
.methodtable th {
	white-space: nowrap;
}

.linebordertable td,
.linebordertable th,
.methodtable td,
.methodtable th {
	border: 2px solid black;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: 2pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.linebordertable th,
.methodtable th {
	text-align: center;
}

.placeholder {
	color: #06a;
}

.popupwindow {
	background-color: rgba(230, 230, 230, 0.88);
	overflow: auto;
	padding: 2%;
	position: fixed;
	width: 96%;
	height: 96%;
	left: 0;
	top: 0;
}

.popupwindowbody {
	background-color: white;
	border: 1px solid #cccccc;
	border-radius: 20px;
	box-shadow: 0px 0px 50px gray;
	padding: 1em;
	opacity: 1.0;
}

.popupwindowbody .popupwindowbuttons {
	text-align: center;
}

.popupwindowbody button {
	font-size: larger;
}

.popupwindowbody button img {
	vertical-align: baseline;
}

pre, code, samp, xmp {
	font-family: Consolas, "Courier New", monospaced;
	font-size: 12pt;
}

pre, xmp {
	line-height: 1.1em;
	text-align: left;
}

pre.html, pre.css, pre.js, pre.php, pre.xml, pre.sql, pre.java, pre.cpp {
	border: 1px dashed #ccf;
	background-color: #fcfcff;
	padding: 0.25em;
	margin: 1em;
}

pre.pseudocode {
	border: 1px dashed #ccf;
	padding: 0.25em;
	margin: 1em;
}

pre em, pre strong {
	font-weight: bold;
	font-style: normal;
	color: #003388;
}

pre.cpp ins,
pre.java ins {
	color: #000077;
	font-weight: bold;
	text-decoration: none;
}

pre.inputfile,
pre.output {
	border: 1px solid #ccc;
	box-shadow: 7px 7px 12px #777;
	margin-left: 0.5em;
	padding: 0.5em;
}

.pseudocode {
	white-space: pre;
}

.rightfigures {
	clear: right;
	float: right;
	margin-bottom: 0.5em;
	margin-left: 1em;
	vertical-align: middle;
}

.rightfigures img {
	vertical-align: middle;
}

.turninlink {
	background-color: #DDDDDD;
	border-left:   3px solid #CCCCCC;
	border-top:    3px solid #CCCCCC;
	border-right:  3px solid #888888;
	border-bottom: 3px solid #888888;
	border-radius: 6px;
	/* float: right; */
	margin-right: 1em;
	padding: 0.5em;
}

.turninlinkarea {
	line-height: 2.5em;
}

dl, li, ol, ul {
	clear: both;
}

.userinput {
	color: #00d;
	font-weight: bold;
}

var {
	font-style: italic;
	font-weight: bold;
}

/* styles for HighlightJS */
/* styles for Highlight.js */
#mainarea .hljs-keyword,
#mainarea .hljs-attribute,
#mainarea .hljs-selector-tag,
#mainarea .hljs-meta-keyword,
#mainarea .hljs-doctag,
#mainarea .hljs-name {
	font-weight: normal;
	color: #007;
}

#mainarea .hljs-comment {
	color: #775;
}

#mainarea .hljs-meta {
	color: #888;
}

#mainarea .hljs-title,
#mainarea .hljs-section {
	font-weight: normal;
}

#mainarea .hljs-string {
	color: #085;
}

#mainarea pre .exception {
	color: #700;
}

#mainarea pre .linenumber,
#mainarea pre.linenumbers {
	color: #aaa;
	font-style: italic;
	font-weight: normal;
}

#mainarea pre.linenumbers code {
	color: #aaa;
	margin-left: 1em;
	margin-right: 0.5em;
}

#mainarea .linenumberstable {
	width: 100%;
}

#mainarea pre code {
	background-color: transparent;
	display: inline;
	max-height: inherit;
	padding: 0;
}

#mainarea pre var,
#mainarea pre var *,
#mainarea code var,
#mainarea code var * {
	color: #737 !important;
	font-style: italic;
	/* font-weight: bold; */
	text-shadow: 1px 1px #cac;
}

#mainarea code em,
#mainarea pre em,
#mainarea code em *,
#mainarea pre em * {
	font-style: normal;
	font-weight: bold !important;
	background-color: #ffa;
}

#mainarea pre.pseudocode em {
	font-style: italic;
}
